@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --rosa-claro: #EAD0DE;
    --branco: #FFFFFF;
    --textos: "Inder", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr;
    background: linear-gradient(rgba(138, 111, 174, 1), rgba(91, 59, 133, 1));
    font-family: var(--textos);
}


/*********************** <header> ***********************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
}

.header-menu{
    width: 30%;
}
.pure-menu-list li{
    padding: 0 12px;
}
.pure-menu-link:hover{
    transform: scale(1.1);
    background-color: transparent;
}
.pure-menu-link{
    transition: 0.3s;
    color: var(--branco);
}

.pesquisa{
    background-color: var(--rosa-claro);
    display: inherit;
    align-items: center;
    padding: 8px 12px ;
    border-radius: 30px;
    width: 30vw;
}
.pesquisa input{
    background-color: transparent;
    border: none;
    outline-style: none;
}

.meu-perfil{
    background-image: url('../img/avatar1.png');
    height: 6vh;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
}
/*********************** </header> ***********************/


/*********************** <main> ***********************/
main{
    width: 100%;
}

.destaques{
    color: var(--branco);
}
.destaques h2{
    text-align: center;
}

.meus-filmes{
    color: var(--branco);
}
.meus-filmes h2{
    text-align: center;
}

/*********************** </main> ***********************/